<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">
<h1 th:text="${job != null ? 'Job: ' + job.name : 'Default Title'}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p th:text="${job != null ? 'ID: ' + job.id : ''}"></p>
    <p th:text="${job != null ? 'Name: ' + job.name : ''}"></p>
    <p>
        Employer: <a th:href="@{'/employers/view/' + ${job != null ? job.employer.id : ''}}" th:text="${job != null ? job.employer.name : ''}"></a>
    </p>
    <p> Skills:
        <ul>
            <li th:each="skill : ${job != null ? job.skills : ''}">

                <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
            </li>
        </ul>
    </p>
</div>


</body>
</html>